body{
    background-color: black;
}

.box1 {
    /* top: -45px; */
    margin-top: 35vh;
    margin-left: 24vw;
    text-shadow: 2px 2px 4px rgb(158, 210, 158);
    color: white;
}

.para {
    /* border: 2px solid rgb(11, 8, 8); */
    margin-left: 50vw;
    margin-top: -10vh;
    border-radius: 50%;
    /* background-image: url(); */
    font-size: larger;
    text-shadow: 2px 2px 4px rgb(176, 214, 176);
    color: white;


}

#btn {
    cursor: pointer;
    background-color: rgb(65, 65, 82);
    border-radius: 10px 4px 10px 4px;
    color: white;
    border: none;
}